/* ------------------------ global styles --------------------- */
* {
  font-family: Circular;
  padding: 0;
}

.icon {
  color: $icon-color;
  transition: all 0.4s linear;
}

.container {
  width: 420px;
}

.columns, .column {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.smaller-container {
  max-width: 300px;
  margin: 0 auto;
}