@import 'mixins';

$primary-color: #e2562b;
$secondary-color: #226722;
$tertiary-color: #EDECEA;

$light-font-color: #FFFFFF;
$dark-font-color: #43413f;

$icon-color: #FFFFFF;
$icon-color-secondary: $primary-color;
$icon-liked-color: #E34329;

$header-height: 60px;

/* ------------------------ global styles --------------------- */ 

* {
  font-family: Circular;
  padding: 0;
}

.icon {
  color: $icon-color;
  transition: all 0.4s linear;
}

.icon:hover {
  color: $secondary-color;
}

.container {
  width: 420px;
}

.columns, .column {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.smaller-container {
  max-width: 300px;
  margin: 0 auto;
}

/* ------------------------ landing page --------------------- */
.landing-page {
  height: 35em;
  margin-top: 20px;

  .landing-page-content {
    width: 100%;

    hr {
      border-color: $primary-color;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .landing-page-forms {
      border: 1px solid $primary-color;
      border-radius: 2%;
      text-align: center;

      // setting button style for both forms
      .login-form, .signup-button {
        button, a {
          @include primary-button-style 
        }
      }

      // login form
      .login-form {
        margin-top: 10px;

        input {
          border-color: $primary-color;
        }

        button {
          margin-top: 15px;          
        }
      }

      // signup form
      .signup-button {

        button {
          margin: 15px 0;
        }
      }

    }
  }
}

/* ------------------------ User Feed ----------------------- */
.user-feed-page {

  .user-feed-content {
    width: 100%;

    /* ------- user feed header ------ */
    .user-feed-header {
      @include header-style;

      .heirloom-logo {
        @include heirloom-logo
      }

      .user-feed-header-nav {
        align-self: center;
        margin-left: auto;
      }
    }
    /* ------- recipe cards ------ */
    .recipe-container {
      @include header-height($header-height);
      
      .recipe-card {
        display: flex;
        flex-direction: column;
        height: 410px;
        width: 410px;

        .recipe-card-image {
          display: block;
          margin: 0 auto;
          border-radius: 2%;
          height: 300px;
          width: 300px;
        }
      }
    }

  }
}

/* ------------------------ Global Feed --------------------- */
.global-feed-page {

  .global-feed-content {
    width: 100%;

    /* ------- global feed header ------ */
    .global-feed-header {
      @include header-style;

      .heirloom-logo {
        @include heirloom-logo
      }

      .global-feed-header-nav {
        align-self: center;
        margin-left: auto;

        .icon {
          display: inline-block;
        }
      }
    }
    /* ------- recipe cards ------ */
    .recipe-container {
      @include header-height($header-height);

      .recipe-card {
        display: flex;
        flex-direction: column;
        height: 410px;
        width: 410px;

        .recipe-card-image {
          display: block;
          margin: 0 auto;
          border-radius: 2%;
          height: 300px;
          width: 300px;
        }
      }
    }

  }
}

/* ------------------------ Signup Form --------------------- */

.recipe-search-form {
  display: inline-block;    

  .dropdown {
    display: inline-block;    
  }

  .dropdown__content {
    display: none;
    position: absolute;
    margin-top: 5px;
    margin-right: 30px;
  }

  .dropdown--active .dropdown__content {
    display: block;
  }

  .recipe-search-form-container {
    display: flex;
    height: 100px;
    width: 160px;
    background-color: $primary-color;
    border-radius: 5%;

    .recipe-search-form-package {
      align-self: flex-end;
      display: flex;
      align-items: center;
    }
  }

  #search-icon {
    color: $icon-color;
    transition: all 0.4s linear;
  }

  #search-icon:hover {
    color: $secondary-color;
  }
}

/* ------------------------ New Recipe Page --------------------- */
.new-recipe-page {

  .new-recipe-content {
    width: 100%;

    /* ------- new recipe header ------ */
    .new-recipe-header {
      @include header-style;

      .heirloom-logo {
        @include heirloom-logo;
      }

      .new-recipe-header-return {
        align-self: center;
        margin-left: auto;
        margin-right: 15px;
      }
    }

    /* ------- new recipe form ------ */
    .new-recipe-form {
      @include header-height($header-height);
    }

  }
}

/* ------------------------ Display Recipe Page --------------------- */
.recipe-page {

  .recipe-content {
    width: 100%;

    /* ------- recipe header ------ */
    .recipe-header {
      @include header-style;

      .heirloom-logo {
        @include heirloom-logo;
      }

      .recipe-header-return {
        align-self: center;
        margin-left: auto;
        margin-right: 15px;
      }
    }

    /* ------- recipe photo ------ */
    .recipe-display-photo {
      @include header-height($header-height);

      img {
        display: block;
        margin: 0 auto;
        border-radius: 2%;
        height: 300px;
        width: 300px;
        border-radius: 5%;
      }
    }

    /* ------- recipe nav buttons ------ */
    .recipe-nav-buttons {

      h4 {
        display: inline;
        font-size: 20px;
        line-height: -10px;
      }
      .icon {
        
      }
      .icon:hover {
        color: $icon-liked-color;
      }
    }


    /* ------- recipe ingredients ------ */
    .recipe-display-ingredients {
      margin: 0 auto;
    }

    /* ------- recipe instructions ------ */
    .recipe-instruction-counter {
      display: inline-block;
      height: 20px;
      width: 20px;
      border: 1px solid $dark-font-color;
      border-radius: 100%;

      h4 {
        display: block;
        font-size: 16px;
        margin: 0 auto;
      }
    }

  }
}

/* ------------------------ Profile Page --------------------- */
.profile-page {

  .profile-content {
    width: 100%;

    /* ------- profile header ------ */
    .profile-header {
      @include header-style;

      .heirloom-logo {
        @include heirloom-logo;
      }

      .profile-header-icons {
        align-self: center;
        margin-left: auto;
        margin-right: 15px;
      }
    }

    .profile-page-user-info {
      @include header-height($header-height);
      padding-top: 20px;
      max-width: 100%;

      img {
        border: 1px solid;
        border-radius: 10% 35%;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
      }
    }

    .profile-photo-container {

      .profile-recipe-card {
        display: inline-block;
        max-width: 30%;
        height: 126px;
        padding: 6px;

        .profile-recipe-image {
          height: 100%;
          width: 100%;
          border-radius: 4%;
        }
      }
    }
  }
}

