$primary-color: #e2562b;
$secondary-color: #61af3e;
/* ------------------------ landing page --------------------- */
.landing-page {
  height: 35em;
  margin-top: 20px;

  .landing-page-filler {
    height: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .landing-page-login {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30em;

    .login-form, .signup-button {
      border: 1px solid $secondary-color;
      border-radius: 5%;
      padding: 15px;

      button, a {
        background-color: $primary-color;
      }
    }

    .login-form input {
      border-color: $secondary-color;
    }

    .login-form input:focus {
      border-color: $primary-color;
    }
  }
}

/* ------------------------ User Feed ----------------------- */
.user-feed-page {

  .user-feed-content {
    width: 440px;

    /* ------- user feed header ------ */
    .user-feed-header {
      position: fixed;
      display: flex;
      width: 400px;
      height: 60px;
      background-color: $secondary-color;
      z-index: 100;

      .heirloom-logo {
        display: block;
        align-self: 50%;
        width: 60px;
        height: 60px;
      }

      .user-feed-header-nav {
        align-self: center;
        margin-left: auto;
      }
    }
    /* ------- recipe cards ------ */
    .recipe-container {
      margin-top: 60px;

      .recipe-card {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 400px;

        .recipe-card-image {
          display: block;
          margin: 0 auto;
          border-radius: 2%;
          height: 300px;
          width: 300px;
        }
      }
    }

  }
}

/* ------------------------ Global Feed --------------------- */
.global-feed-page {

  .global-feed-content {
    width: 440px;

    /* ------- global feed header ------ */
    .global-feed-header {
      position: fixed;
      display: flex;
      width: 400px;
      height: 60px;
      background-color: $secondary-color;
      z-index: 100;

      .heirloom-logo {
        display: block;
        align-self: 50%;
        width: 60px;
        height: 60px;
      }

      .global-feed-header-nav {
        align-self: center;
        margin-left: auto;
      }
    }
    /* ------- recipe cards ------ */
    .recipe-container {
      margin-top: 60px;

      .recipe-card {
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 400px;

        .recipe-card-image {
          display: block;
          margin: 0 auto;
          border-radius: 2%;
          height: 300px;
          width: 300px;
        }
      }
    }

  }
}

/* ------------------------ Signup Form --------------------- */
.signup-page {

}
