@mixin header-style {
  position: fixed;
  display: flex;
  width: 410px;
  height: 60px;
  padding: 0;
  background-color: $primary-color;
  z-index: 100;
  border-radius: 3%;
}

@mixin heirloom-logo {
  display: block;
  align-self: 50%;
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

// used to offset fixed header
@mixin header-height($header-height) {
  margin-top: $header-height;
}