@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

/* ------------------------ New Recipe Page --------------------- */
.new-recipe-page {

  .new-recipe-content {
    width: 100%;

    /* ------- new recipe header ------ */
    .new-recipe-header {
      @include header-style;

      .heirloom-logo {
        @include heirloom-logo;
      }

      .new-recipe-header-return {
        align-self: center;
        margin-left: auto;
        margin-right: 15px;
      }
    }

    /* ------- new recipe form ------ */
    .new-recipe-form {
      @include header-height($header-height);
    }

  }
}